body {
background-color: #39314b;
margin: 0px;
}


::selection {
background-color: #fffffffe;
color: #e6482e;
}


.container {
margin: auto;
width: 75%;
}


.full_menu {
width: 100%;
height: 100%;
background-color: #e6482e;
position: fixed;
left: 100%;
}


.full_menu_content {
margin-top: 120px;
margin-left: 10%;
margin-right: 10%;
display: flex;
}


.hero_light {
background-color: #564064;
box-shadow: 0px 25px 30px #00000045;
}


.nav_logo {
position: absolute;
top: 40px;
left: 50px;
width: 80px;
}


.nav_menu {
padding: 20px 5px 2px 15px;
position: fixed;
top: 35px;
right: 0px;
left: auto;
width: 70px;
height: 40px;
background-color: #e6482e;
box-shadow: 3px 3px 15px #00000035;
cursor: pointer;
}


.footer {
position: fixed;
bottom: 0px;
height: 50px;
width: 100%;
padding-left: 20px;
background-color: #e6482e;
}


.footer_text {
position: fixed;
bottom: 0px;
height: 42px;
width: 100%;
padding-left: 180px;
}


.row_flex {
display: flex;
}


.col_10 {
flex: 10%;
}


.col_20 {
flex: 20%;
}


.col_30 {
flex: 30%;
}


.col_40 {
flex: 40%;
}


.col_50 {
flex: 50%;
}


.col_60 {
flex: 60%;
}


.col_70 {
flex: 70%;
}


.col_80 {
flex: 80%;
}


.col_90 {
flex: 90%;
}


.col_100 {
flex: 100%;
}


.hero_image_main {
background-image: url(assets/img/hero_1.svg);
background-repeat: no-repeat;
background-position-x: right;
background-size: auto 40%;
}


.cards_region {
display: flex;
margin: -1%;
margin-top: 20px;
}


.card_contents {
display: flex;
justify-content: center;
align-items: center;
padding-top: 28%;
}


.card_background {
width: 25%;
height: 0;
margin: 1%;
padding-bottom: 23%;
box-shadow: 0px 10px 10px #00000035;
}


.yellow_card {
width: 25%;
height: 0;
margin: 1%;
padding-bottom: 23%;
box-shadow: 0px 10px 10px #00000035;
background: linear-gradient(to right,#f4b41b 33%,#e6482e 33%,#e6482e 66%,#f47e1b 66%);
background-position: 0%;
transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
background-size: 1000% 100%;
}


.yellow_card:hover {
width: 25%;
height: 0;
margin: 1%;
padding-bottom: 23%;
box-shadow: 0px 10px 10px #00000035;
transition: all 0.5s cubic-bezier(0.000, 0.000, 0.230, 1);
background-position: -33%;
}


.yellow_card:active {
width: 25%;
height: 0;
margin: 1%;
padding-bottom: 23%;
box-shadow: 0px 10px 10px #00000035;
transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
background-position: -66%;
}


.blue_card {
width: 25%;
height: 0;
margin: 1%;
padding-bottom: 23%;
box-shadow: 0px 10px 10px #00000035;
background: linear-gradient(to right,#28ccdf 33%,#394778 33%,#394778 66%,#3978a8 66%);
background-position: 0%;
transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
background-size: 1000% 100%;
}


.blue_card:hover {
width: 25%;
height: 0;
margin: 1%;
padding-bottom: 23%;
box-shadow: 0px 10px 10px #00000035;
transition: all 0.5s cubic-bezier(0.000, 0.000, 0.230, 1);
background-position: -33%;
}


.blue_card:active {
width: 25%;
height: 0;
margin: 1%;
padding-bottom: 23%;
box-shadow: 0px 10px 10px #00000035;
transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
background-position: -66%;
}


.pink_card {
width: 25%;
height: 0;
margin: 1%;
padding-bottom: 23%;
box-shadow: 0px 10px 10px #00000035;
background: linear-gradient(to right,#cd6093 33%,#8e478c 33%,#8e478c 66%,#ffaeb6 66%);
background-position: 0%;
transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
background-size: 1000% 100%;
}


.pink_card:hover {
width: 25%;
height: 0;
margin: 1%;
padding-bottom: 23%;
box-shadow: 0px 10px 10px #00000035;
transition: all 0.5s cubic-bezier(0.000, 0.000, 0.230, 1);
background-position: -33%;
}


.pink_card:active {
width: 25%;
height: 0;
margin: 1%;
padding-bottom: 23%;
box-shadow: 0px 10px 10px #00000035;
transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
background-position: -66%;
}


.green_card {
width: 25%;
height: 0;
margin: 1%;
padding-bottom: 23%;
box-shadow: 0px 10px 10px #00000035;
background: linear-gradient(to right,#b6d53c 33%,#397b44 33%,#397b44 66%,#71aa34 66%);
background-position: 0%;
transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
background-size: 1000% 100%;
}


.green_card:hover {
width: 25%;
height: 0;
margin: 1%;
padding-bottom: 23%;
box-shadow: 0px 10px 10px #00000035;
transition: all 0.5s cubic-bezier(0.000, 0.000, 0.230, 1);
background-position: -33%;
}


.green_card:active {
width: 25%;
height: 0;
margin: 1%;
padding-bottom: 23%;
box-shadow: 0px 10px 10px #00000035;
transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
background-position: -66%;
}


@font-face {
font-family: poppins-semibold;
src: url(assets/fonts/poppins/Poppins-SemiBold.ttf);
font-weight: normal;
}

@font-face {
font-family: poppins-regular;
src: url(assets/fonts/poppins/Poppins-Regular.ttf);
font-weight: normal;
}

@font-face {
font-family: poppins-medium;
src: url(assets/fonts/poppins/Poppins-Medium.ttf);
font-weight: normal;
}

@font-face {
font-family: poppins-light;
src: url(assets/fonts/poppins/Poppins-ExtraLight.ttf);
font-weight: normal;
}

@font-face {
font-family: poppins-thin;
src: url(assets/fonts/poppins/Poppins-Thin.ttf);
font-weight: normal;
}

@font-face {
font-family: merri-r;
src: url(assets/fonts/merriweather/Merriweather-Regular.ttf);
font-weight: normal;
}

caps {
font-family: poppins-medium;
font-size: 20px;
line-height: 30px;
letter-spacing: 0.30em;
}

h1 {
font-family: poppins-light;
font-size: 70px;
line-height: 80px;
letter-spacing: 0.02em;
margin-bottom: 0px;
margin-top: 5px;
white-space: nowrap;
}


h2 {
font-family: poppins-light;
font-size: 50px;
line-height: 50px;
letter-spacing: 0.002em;
margin-bottom: 0px;
margin-top: 5px;
}


h3 {
font-family: poppins-regular;
font-size: 40px;
line-height: 50px;
letter-spacing: 0.01em;
}

h5 {
font-family: poppins-regular;
font-size: 28px;
line-height: 34px;
letter-spacing: 0.02em;
}

lead {
font-family: poppins-regular;
font-size: 22px;
line-height: 30px;
letter-spacing: 0.00em;
}

copy {
font-family: poppins-light;
font-size: 14px;
line-height: 28px;
letter-spacing: 0.02em;
}

small_copy {
font-family: poppins-light;
font-size: 14px;
line-height: 28px;
letter-spacing: 0.02em;
}

footer_copy {
font-family: poppins-light;
font-size: 14px;
line-height: 40px;
letter-spacing: 0.02em;
}

.hamLink {
text-decoration: none;
background: linear-gradient(to right,#ffffff 33%,#ffffff 33%,#ffffff 66%,#ffffff 66%);
background-position: 0%;
transition: all 0.3s cubic-bezier(0.000, 0.000, 0.000, 2);
background-size: 1000% 100%;
padding-top: 10px;
padding-bottom: 10px;
background-clip: text;
-webkit-background-clip: text;
text-fill-color: transparent;
-webkit-text-fill-color: transparent;
}


.hamLink:hover {
text-decoration: none;
transition: all 0.3s cubic-bezier(0.000, 0.000, 0.000, 2);
background-position: -33%;
font-weight: 900;
}


.hamLink:active {
text-decoration: none;
transition: all 0.3s cubic-bezier(0.000, 0.000, 0.000, 2);
background-position: -66%;
font-weight: 900;
}


hamcaps {
font-family: poppins-light;
font-size: 20;
line-height: 34px;
letter-spacing: 0.3em;
white-space: nowrap;
}


ham1 {
font-family: poppins-light;
font-size: 32px;
line-height: 100px;
letter-spacing: 0.02em;
margin-bottom: 0px;
top: 5px;
}


ham2 {
font-family: poppins-thin;
font-size: 28px;
line-height: 100px;
letter-spacing: 0.02em;
margin-bottom: 0px;
top: 5px;
}


