.hero_light {
background-color: #564064;
box-shadow: 0px 25px 30px #00000045;
}


.nav_logo {
position: absolute;
top: 40px;
left: 50px;
width: 80px;
}


.nav_menu {
padding: 20px 5px 2px 15px;
position: fixed;
top: 35px;
right: 0px;
left: auto;
width: 70px;
height: 40px;
background-color: #e6482e;
box-shadow: 3px 3px 15px #00000035;
cursor: pointer;
}


.hero_image_main {
background-image: url(assets/img/hero_1.svg);
background-repeat: no-repeat;
background-position-x: right;
background-size: auto auto;
}


.bottomSection {
background-color: #e6482e;
}


.contact_link {
text-decoration: none;
}


.contact_link_wrapper {
display: flex;
flex-direction: column;
align-items: flex-end;
height: 100%;
justify-content: center;
}


.form_style {
height: 165px;
font-family: nimbus-sans;
font-weight: 400;
font-size: 1.125rem;
line-height: 1.75rem;
letter-spacing: 0.01em;
}


.text_area_style {
color: #ffffff;
text-decoration: none;
width: calc(100% - 18px);
height: calc(100% - 85px);
padding: 10px;
mix-blend-mode: normal;
border: none;
resize: none;
background-color: #e13e26;
box-shadow: inset 0 0 8px 5px #00000010;
font: inherit;
}


.email_input_style {
color: #ffffff;
text-decoration: none;
width: calc(100% - 18px);
height: 30px;
padding: 10px;
mix-blend-mode: normal;
border: none;
resize: none;
background-color: #e13e26;
box-shadow: inset 0 0 8px 5px #00000010;
font: inherit;
}


.text_input_style {
color: #ffffff;
text-decoration: none;
width: calc(100% - 38px);
height: 30px;
padding: 10px;
mix-blend-mode: normal;
border: none;
resize: none;
background-color: #e13e26;
box-shadow: inset 0 0 8px 5px #00000010;
font: inherit;
}


.centered_info {
display: flex;
height: 100%;
flex-direction: column;
justify-content: center;
}


.img_info_right {
margin-left: 10%;
}


.button_info_right {
display: flex;
height: 100%;
align-items: flex-end;
justify-content: flex-end;
}


.full_menu {
width: 100%;
height: 100%;
background-color: #e6482e;
position: fixed;
left: 100%;
}


.full_menu_content {
margin-top: 120px;
margin-left: 10%;
margin-right: 10%;
display: flex;
}


hamcaps {
font-family: nimbus-sans;
font-size: 1.25rem;
font-weight: 700;
line-height: 30px;
letter-spacing: 0.3em;
white-space: nowrap;
bottom: 20px;
}


ham1 {
font-family: bookmania;
font-size: 4.375rem;
font-weight: 400;
line-height: 14vh;
letter-spacing: 0.02em;
margin-bottom: 0px;
top: 0px;
}


ham2 {
font-family: nimbus-sans;
font-size: 3.125rem;
font-weight: 300;
line-height: 14vh;
letter-spacing: 0.02em;
margin-bottom: 0px;
top: 0px;
}


.hamLink {
text-decoration: none;
}


body {
background-color: #39314b;
margin: 0px;
}


.container {
margin: auto;
width: 75%;
}


.row_flex {
display: flex;
}


.col_10 {
flex: 10%;
}


.col_20 {
flex: 20%;
}


.col_30 {
flex: 30%;
}


.col_40 {
flex: 40%;
}


.col_50 {
flex: 50%;
}


.col_60 {
flex: 60%;
}


.col_70 {
flex: 70%;
}


.col_80 {
flex: 80%;
}


.col_90 {
flex: 90%;
}


.col_100 {
flex: 100%;
}


html {
font-size: 1rem;
}


::selection {
background-color: #fffffffe;
color: #e6482e;
}


::placeholder {
opacity: 70%;
color: #ffffff;
}


::-ms-input-placeholder {
opacity: 70%;
color: #ffffff;
}


:-ms-input-placeholder {
opacity: 70%;
color: #ffffff;
}


caps {
font-family: nimbus-sans;
font-weight: 700;
font-size: 0.875rem;
line-height: 24px;
letter-spacing: 0.3em;
margin-bottom: 0px;
white-space: nowrap;
}


h1 {
font-family: bookmania;
font-weight: 400;
font-size: 4rem;
line-height: 4.375rem;
letter-spacing: 0em;
margin-bottom: 0px;
margin-top: 5px;
}


h2 {
font-family: bookmania;
font-weight: 300;
font-size: 3.5rem;
line-height: 3.875rem;
letter-spacing: 0em;
margin-top: 15px;
margin-bottom: 15px;
}


h3 {
font-family: bookmania;
font-weight: 400;
font-size: 2.5rem;
line-height: 3rem;
letter-spacing: 0em;
}


h4 {
font-family: bookmania;
font-weight: 400;
font-size: 1.875rem;
line-height: 2.375rem;
letter-spacing: 0em;
}


lead {
font-family: nimbus-sans;
font-weight: 300;
font-size: 1.375rem;
line-height: 1.875rem;
letter-spacing: 0.015em;
}


copy {
font-family: nimbus-sans;
font-weight: 400;
font-size: 1.125rem;
line-height: 1.75rem;
letter-spacing: 0.01em;
}


button_font {
font-family: nimbus-sans;
font-weight: 700;
font-size: 1.25rem;
line-height: 1.875rem;
letter-spacing: 0.015em;
}


.cards_region {
display: flex;
flex-wrap: wrap;
margin: -1%;
margin-top: 20px;
margin-bottom: 100px;
}


.card_contents {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
padding-top: 50%;
}


.card_margin {
margin: 4%;
}


.card_background {
display: flex;
width: 100%;
padding-bottom: 100%;
height: 0;
box-shadow: 0px 10px 10px #00000035;
}


.yellow_card {
display: flex;
width: 100%;
padding-bottom: 100%;
height: 0;
box-shadow: 0px 10px 10px #00000035;
background: linear-gradient(to right,#f4b41b 33%,#e6482e 33%,#e6482e 66%,#f47e1b 66%);
background-position: 0%;
transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
background-size: 1000% 100%;
text-decoration: none;
color: #ffffff;
}


.yellow_card:hover {
display: flex;
width: 100%;
padding-bottom: 100%;
height: 0;
box-shadow: 0px 10px 10px #00000035;
transition: all 0.5s cubic-bezier(0.000, 0.000, 0.230, 1);
background-position: -33%;
text-decoration: none;
color: #ffffff;
}


.yellow_card:active {
display: flex;
width: 100%;
padding-bottom: 100%;
height: 0;
box-shadow: 0px 10px 10px #00000035;
transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
background-position: -66%;
text-decoration: none;
color: #ffffff;
}


.blue_card {
display: flex;
width: 100%;
padding-bottom: 100%;
height: 0;
box-shadow: 0px 10px 10px #00000035;
background: linear-gradient(to right,#28ccdf 33%,#394778 33%,#394778 66%,#3978a8 66%);
background-position: 0%;
transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
background-size: 1000% 100%;
text-decoration: none;
color: #ffffff;
}


.blue_card:hover {
display: flex;
width: 100%;
padding-bottom: 100%;
height: 0;
box-shadow: 0px 10px 10px #00000035;
transition: all 0.5s cubic-bezier(0.000, 0.000, 0.230, 1);
background-position: -33%;
text-decoration: none;
color: #ffffff;
}


.blue_card:active {
display: flex;
width: 100%;
padding-bottom: 100%;
height: 0;
box-shadow: 0px 10px 10px #00000035;
transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
background-position: -66%;
text-decoration: none;
color: #ffffff;
}


.pink_card {
display: flex;
width: 100%;
padding-bottom: 100%;
height: 0;
box-shadow: 0px 10px 10px #00000035;
background: linear-gradient(to right,#cd6093 33%,#8e478c 33%,#8e478c 66%,#ffaeb6 66%);
background-position: 0%;
transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
background-size: 1000% 100%;
text-decoration: none;
color: #ffffff;
}


.pink_card:hover {
display: flex;
width: 100%;
padding-bottom: 100%;
height: 0;
box-shadow: 0px 10px 10px #00000035;
transition: all 0.5s cubic-bezier(0.000, 0.000, 0.230, 1);
background-position: -33%;
text-decoration: none;
color: #ffffff;
}


.pink_card:active {
display: flex;
width: 100%;
padding-bottom: 100%;
height: 0;
box-shadow: 0px 10px 10px #00000035;
transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
background-position: -66%;
text-decoration: none;
color: #ffffff;
}


.green_card {
display: flex;
width: 100%;
padding-bottom: 100%;
height: 0;
box-shadow: 0px 10px 10px #00000035;
background: linear-gradient(to right,#b6d53c 33%,#397b44 33%,#397b44 66%,#71aa34 66%);
background-position: 0%;
transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
background-size: 1000% 100%;
text-decoration: none;
color: #ffffff;
}


.green_card:hover {
display: flex;
width: 100%;
padding-bottom: 100%;
height: 0;
box-shadow: 0px 10px 10px #00000035;
transition: all 0.5s cubic-bezier(0.000, 0.000, 0.230, 1);
background-position: -33%;
text-decoration: none;
color: #ffffff;
}


.green_card:active {
display: flex;
width: 100%;
padding-bottom: 100%;
height: 0;
box-shadow: 0px 10px 10px #00000035;
transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
background-position: -66%;
text-decoration: none;
color: #ffffff;
}


.card_wrapper {
flex: 23%;
}


.learn_more_link {
text-decoration: none;
padding-top: 20px;
display: flex;
}


h3_resize {
font-family: bookmania;
font-weight: 400;
font-size: 2.5vw;
line-height: 3rem;
letter-spacing: 0em;
}


.about_us_btn_region {
display: flex;
margin: -1%;
margin-top: 20px;
}


.about_us_btn_contents {
display: flex;
justify-content: center;
align-items: center;
padding-top: 8%;
}


.about_us_btn_bg {
width: 300px;
height: 75px;
margin: 1%;
}


.about_us_button_style {
width: 300px;
height: 75px;
margin: 1%;
background: linear-gradient(to right,#e6482e 33%,#39314b 33%,#39314b 66%,#a93b3b 66%);
background-position: 0%;
transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
background-size: 1000% 100%;
text-decoration: none;
color: #ffffff;
}


.about_us_button_style:hover {
width: 300px;
height: 75px;
margin: 1%;
transition: all 0.5s cubic-bezier(0.000, 0.000, 0.230, 1);
background-position: -33%;
text-decoration: none;
color: #ffffff;
}


.about_us_button_style:active {
width: 300px;
height: 75px;
margin: 1%;
transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
background-position: -66%;
text-decoration: none;
color: #ffffff;
}


.view_design_btn_region {
display: flex;
margin: -1%;
margin-top: 20px;
}


.view_design_btn_contents {
display: flex;
justify-content: center;
align-items: center;
padding-top: 8%;
}


.view_design_btn_bg {
width: 300px;
height: 75px;
margin: 1%;
}


.view_design_button_style {
width: 300px;
height: 75px;
margin: 1%;
background: linear-gradient(to right,#e6482e 33%,#39314b 33%,#39314b 66%,#a93b3b 66%);
background-position: 0%;
transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
background-size: 1000% 100%;
text-decoration: none;
color: #ffffff;
}


.view_design_button_style:hover {
width: 300px;
height: 75px;
margin: 1%;
transition: all 0.5s cubic-bezier(0.000, 0.000, 0.230, 1);
background-position: -33%;
text-decoration: none;
color: #ffffff;
}


.view_design_button_style:active {
width: 300px;
height: 75px;
margin: 1%;
transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
background-position: -66%;
text-decoration: none;
color: #ffffff;
}


.learn_more_btn_region {
display: flex;
margin: -1%;
margin-top: 20px;
}


.learn_more_btn_contents {
display: flex;
justify-content: center;
align-items: center;
padding-top: 8%;
}


.learn_more_btn_bg {
width: 300px;
height: 75px;
margin: 1%;
}


.learn_more_button_style {
width: 300px;
height: 75px;
margin: 1%;
background: linear-gradient(to right,#e6482e 33%,#39314b 33%,#39314b 66%,#a93b3b 66%);
background-position: 0%;
transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
background-size: 1000% 100%;
text-decoration: none;
color: #ffffff;
}


.learn_more_button_style:hover {
width: 300px;
height: 75px;
margin: 1%;
transition: all 0.5s cubic-bezier(0.000, 0.000, 0.230, 1);
background-position: -33%;
text-decoration: none;
color: #ffffff;
}


.learn_more_button_style:active {
width: 300px;
height: 75px;
margin: 1%;
transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
background-position: -66%;
text-decoration: none;
color: #ffffff;
}


.view_development_btn_region {
display: flex;
margin: -1%;
margin-top: 20px;
}


.view_development_btn_contents {
display: flex;
justify-content: center;
align-items: center;
padding-top: 8%;
}


.view_development_btn_bg {
width: 300px;
height: 75px;
margin: 1%;
}


.view_development_button_style {
width: 300px;
height: 75px;
margin: 1%;
background: linear-gradient(to right,#e6482e 33%,#39314b 33%,#39314b 66%,#a93b3b 66%);
background-position: 0%;
transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
background-size: 1000% 100%;
text-decoration: none;
color: #ffffff;
}


.view_development_button_style:hover {
width: 300px;
height: 75px;
margin: 1%;
transition: all 0.5s cubic-bezier(0.000, 0.000, 0.230, 1);
background-position: -33%;
text-decoration: none;
color: #ffffff;
}


.view_development_button_style:active {
width: 300px;
height: 75px;
margin: 1%;
transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
background-position: -66%;
text-decoration: none;
color: #ffffff;
}


.view_blog_btn_region {
display: flex;
margin: -1%;
margin-top: 20px;
}


.view_blog_btn_contents {
display: flex;
justify-content: center;
align-items: center;
padding-top: 8%;
}


.view_blog_btn_bg {
width: 300px;
height: 75px;
margin: 1%;
}


.view_blog_button_style {
width: 300px;
height: 75px;
margin: 1%;
background: linear-gradient(to right,#e6482e 33%,#39314b 33%,#39314b 66%,#a93b3b 66%);
background-position: 0%;
transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
background-size: 1000% 100%;
text-decoration: none;
color: #ffffff;
}


.view_blog_button_style:hover {
width: 300px;
height: 75px;
margin: 1%;
transition: all 0.5s cubic-bezier(0.000, 0.000, 0.230, 1);
background-position: -33%;
text-decoration: none;
color: #ffffff;
}


.view_blog_button_style:active {
width: 300px;
height: 75px;
margin: 1%;
transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
background-position: -66%;
text-decoration: none;
color: #ffffff;
}


.submit_btn_region {
display: flex;
margin: -1%;
margin-top: 0px;
}


.submit_btn_contents {
display: flex;
justify-content: center;
align-items: center;
padding-top: 8%;
}


.submit_btn_bg {
width: 300px;
height: 75px;
margin: 1%;
}


.submit_button_style {
width: 300px;
height: 75px;
margin: 1%;
background: linear-gradient(to right,#ffffff 33%,#39314b 33%,#39314b 66%,#564064 66%);
background-position: 0%;
transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
background-size: 1000% 100%;
text-decoration: none;
color: #e6482e;
}


.submit_button_style:hover {
width: 300px;
height: 75px;
margin: 1%;
transition: all 0.5s cubic-bezier(0.000, 0.000, 0.230, 1);
background-position: -33%;
text-decoration: none;
color: #ffffff;
}


.submit_button_style:active {
width: 300px;
height: 75px;
margin: 1%;
transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
background-position: -66%;
text-decoration: none;
color: #ffffff;
}


.footer {
position: fixed;
bottom: 0px;
height: 50px;
width: 100%;
padding-left: 20px;
background-color: #e6482e;
}


.footer_text {
position: fixed;
bottom: 0px;
height: 42px;
width: 100%;
padding-left: 180px;
display: flex;
align-items: center;
}


footer_copy {
font-family: nimbus-sans;
font-weight: 400;
font-size: 1rem;
line-height: 24px;
letter-spacing: 0em;
margin-bottom: 0px;
}


.footer_spacer {
width: 20px;
}


.footer_link {
text-decoration: none;
}


